<section class="container">
  <h3 class="gallery-name">{{gallery.name}}</h3>
  <h4>Opening Hour: {{format_time gallery.starting_date}}</h4>
  <h4>Closing Hour: {{format_time gallery.ending_date}}</h4>
  <!-- TODO: Only if the user is logged in, render the gallery's paintings -->
  <section class="flex-row justify-center">
    {{#each gallery.paintings as |painting|}}
    {{> painting-details}}
    {{/each}}
  </section>
  <!-- TODO: Otherwise, provide a link to login -->
</section>
